<% provide(:title, "Team") %>
<h1>Our Team</h1>
<div class="center jumbotron" >
    <h1>Our Mission</h1>
    <%= link_to "Our Sponsors", sponsors_path, class: "btn btn-lg btn-primary"%>
    <%= link_to "Join Our Team", join_path, class: "btn btn-lg btn-primary"%>
</div>



